{% extends 'base.html.twig' %}

{% block title %}Hello ExerciseController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper exercise" id="app">
    <h1>Hello {{ controller_name }}! ✅</h1>
    
    <p> The name is: {* name *}, the age is: {* age *}.</p>
    <p> Age multiplied by 3: {* age * 3 *}</p>
    <p> Random float: {* randomFloat() *} </p>
    <div>
        <img v-bind:src="image" style="width:1000px; height: 500px;"></img>
    </div>
    <div>
       <input type="text" v-model="value">
    </div>
</div>
{% endblock %}
